@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	--primary: #FF6060;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container1240px {
      max-width: 1240px;
      margin: 0 auto;
}